.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 37rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-flex .block-chair {
  background-color: rgba(188, 154, 68, 0.4);
  height: 25rem;
  width: 18rem;
}

.about-flex #img-chair {
  height: 25rem;
  width: 18rem;
  background-image: url("../../img/chair.png");
  margin-left: -13rem;
  margin-top: 5rem;
}

.about-flex .about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 25%;
  margin-left: 17rem;
}

.about-flex .about-us #verti-block {
  height: 3rem;
  width: 0.5rem;
  background-color: rgba(188, 154, 68, 0.4);
  margin-right: 1rem;
}

.about-flex .about-us h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.about-flex .about-us p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.12rem;
  color: #827E7E;
  padding-bottom: 3rem;
}

.about-flex .about-us .buttons-1-2 {
  font-family: 'Raleway', sans-serif;
  height: 2.5rem;
  width: 10rem;
  background-color: #FFFFFF;
  border: 0.15rem solid #BC9A44;
  margin-left: -2rem;
}

.about-flex .about-us .buttons-1-2-line {
  height: 0.12rem;
  width: 8rem;
  background-color: #000000;
  margin-left: -0.8rem;
}
